html {
    scroll-behavior: smooth;
}

body {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 251, 255);
}

main {
    width: 500px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
}

#header-img {
    width: 20%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    background-color: pink;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

li {
    padding: 16px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: rgb(255, 247, 136);
}

li a {
    text-decoration: none;
    color: black;
}

h2 {
    margin: 10px;
}

article {
    display: flex;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

article img {
    width: 130px;
    object-fit: contain;
    margin-top: 30px;
}

#cup {
    filter: saturate(300%);
}

.text-content {
    display: flex;
    flex-direction: column;
}

article h3,
p {
    margin: 10px;
}

form {
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

form textarea {
    width: 100%;
}

form input[type="submit"] {
    background-color: pink;
    height: 50px;
    width: 280px;
    border-radius: 20px;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: rgb(255, 247, 136);
}

footer {
    background-color: pink;
    margin: 0;
}

footer p {
    margin: 10px;
    padding: 5px;
}